In [1]:
import pandas as pd
import numpy as np
np.random.seed(0)
students = np.random.choice(['Roshhh', 'Sabesh', 'Harshini', 'Nithish'], size=100)
courses = np.random.choice(['Eie', 'Dbms', 'Math', 'Cse'], size=100)
semesters = np.random.choice(['Spring', 'Summer', 'Fall'], size=100)
grades = np.random.randint(50, 100, size=100)
data = pd.DataFrame({
    'student': students,
    'course': courses,
    'semester': semesters,
    'grade': grades
})
tapply_result = data['grade'].mean()
print("tapply Result:")
print(tapply_result)

tapply Result:
74.11

In [2]:
# Rollup
rollup_result = data.groupby(['student', 'course']).agg({'grade': 'sum'})
print("Rollup Result:")
print(rollup_result)

Rollup Result:
                 grade
student  course
Harshini Cse       417
         Dbms      237
         Eie       206
         Math      514
Nithish  Cse       687
         Dbms      506
         Eie       745
         Math      448
Roshhh   Cse       621
         Dbms      211
         Eie       655
         Math      425
Sabesh   Cse       267
         Dbms      398
         Eie       341
         Math      733

In [3]:
# Dice
dice_result = data[(data['student'] == 'Roshhh') & (data['course'] == 'Eie')]
print("Dice Result:")
print(dice_result)

Dice Result:
   student course semester  grade
12  Roshhh    Eie   Spring     67
17  Roshhh    Eie   Spring     86
39  Roshhh    Eie   Spring     71
50  Roshhh    Eie     Fall     93
69  Roshhh    Eie   Spring     92
77  Roshhh    Eie     Fall     96
95  Roshhh    Eie   Summer     78
99  Roshhh    Eie     Fall     72

In [4]:
# Drilldown
drilldown_result = data.groupby(['student', 'course', 'semester']).agg({'grade': 'max'})
print("Drilldown Result:")
print(drilldown_result)

Drilldown Result:
                          grade
student  course semester
Harshini Cse    Fall         74
                Spring       59
                Summer       98
         Dbms   Fall         68
                Spring       89
                Summer       80
         Eie    Spring       51
                Summer       85
         Math   Fall         93
                Summer       82
Nithish  Cse    Fall         67
                Spring       84
                Summer       89
         Dbms   Spring       82
                Summer       85
         Eie    Fall         78
                Spring       98
                Summer       97
         Math   Fall         83
                Spring       77
                Summer       82
Roshhh   Cse    Fall         96
                Spring       90
                Summer       57
         Dbms   Spring       79
                Summer       74
         Eie    Fall         96
                Spring       92
                Summer       78
         Math   Fall         77
                Summer       87
Sabesh   Cse    Fall         58
                Spring       55
                Summer       91
         Dbms   Spring       86
                Summer       94
         Eie    Fall         55
                Spring       99
                Summer       70
         Math   Fall         80
                Spring       77
                Summer       99

In [5]:
# Slice
slice_result = data[data['semester'] == 'Fall']
print("Slice Result:")
print(slice_result)

Slice Result:
     student course semester  grade
1    Nithish   Math     Fall     83
2     Sabesh    Eie     Fall     55
3     Roshhh    Cse     Fall     90
9    Nithish    Eie     Fall     66
10    Sabesh    Cse     Fall     58
15    Roshhh   Math     Fall     77
20  Harshini    Cse     Fall     53
29    Roshhh    Cse     Fall     79
34   Nithish    Eie     Fall     62
42    Roshhh   Math     Fall     61
48  Harshini   Dbms     Fall     68
50    Roshhh    Eie     Fall     93
51    Sabesh   Math     Fall     69
55    Roshhh    Cse     Fall     96
60   Nithish   Math     Fall     77
61  Harshini   Math     Fall     59
63  Harshini   Math     Fall     93
64   Nithish    Cse     Fall     67
65    Roshhh    Cse     Fall     91
71    Sabesh   Math     Fall     80
72  Harshini    Cse     Fall     74
77    Roshhh    Eie     Fall     96
80  Harshini    Cse     Fall     69
87    Sabesh   Math     Fall     61
88   Nithish    Eie     Fall     78
89  Harshini   Math     Fall     86
92  Harshini   Math     Fall     92
98    Sabesh   Math     Fall     54
99    Roshhh    Eie     Fall     72